html{ background-image: url(pvg/clouds.jpg); }
.nav-content{ position: absolute; width: 224px; height: 200px; border-right: none; background-color: transparent; left: 15px; transition: left .2s linear; }
    .win95{ background: silver; 
        border: solid;
        border-width: 2px;
        border-bottom-color: #424242;
        border-right-color: #424242;
        border-left-color: white;
        border-top-color: white;
    color: #212529;}
.random-game{ position: absolute; width: 224px; height: 200px; border-right: none; background-color: transparent; left: 15px; transition: left .2s linear; }
.card-header{ background-color: #08216b; color: white; height: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: left;}
.logo{ font-size: 18px; text-align: left; line-height: 20px; }
.winlang{ font-family: MS-sans-serif; font-size: smaller; }
*, ::after, ::before{ box-sizing: border-box; }
.winspace{ padding-left: 5px; }

.Menu{ background-image: url(pvg/mircosoft/accessibility_contrast.png); background-size: cover;
    width: 23px;
    height: 18px;
    position: absolute;
    left: 3px;
    top: 4px;
    }
.labelspace{ padding-left: 25px; }